<h2>Workshops new</h2>
<%= form_for @workshop do |f| %>
  Location <%= f.select(:location_id, @locations.all.collect {|a| [a.name, a.id]}, :include_blank => "Choose a Location") -%></br>
  Name of workshop:<br> <%= f.text_field :title %></br>
  Description:<br> <%= f.text_area :context %></br>
  List of needs:<br> <%= f.text_area :needs %></br>
  Start Time: <%= f.datetime_select :start_time %></br>
  End Time: <%= f.datetime_select :end_time %></br>
  <%= f.submit "Edit Workshop", class: "btn btn-warning" %>
<% end %>
