<h1><%= @workshop.title %></h1>
<p>At <a href="/locations/<%=@workshop.location.id%>"><%=@workshop.location.name%></a></p>
<p><%=@workshop.location.address%> <%=@workshop.location.city%></p>
<p>Date: <%=@workshop.start_time.strftime("%m/%d/%Y")%></p>
<p><%=@workshop.start_time.strftime("%I:%M%p")%><%=@workshop.end_time.strftime(" to %I:%M%p")%></p>
<p><%=@workshop.context%></p>

<% if user_signed_in? %>
  <a class="button" href="/workshops/<%= @workshop.id %>/edit">Edit</a>
  <%= link_to "Delete", @workshop, method: :delete,
      data: { confirm: "Delete: You sure? Cannot undo a delete." } %>
<% end %>
