


<div class="boxA">
  <h1><%= @workshop.title %></h1>
  <p>At <a href="/locations/<%=@workshop.location.id%>"><%=@workshop.location.name%></a></p>
  <p><%=@workshop.location.address%> <%=@workshop.location.city%></p>
  <p>Date: <%=@workshop.start_time.strftime("%m/%d/%Y")%></p>
  <p><%=@workshop.start_time.strftime("%I:%M%p")%><%=@workshop.end_time.strftime(" to %I:%M%p")%></p>
  <p>RSVPs: <%= @workshop.rsvps.count %></p>
  
<!--   If they don't have an RSVP, give them this button -->
  <% if @rsvp.count > 0 %>
    <a class="button" href="/workshops/<%= @workshop.id %>/cancel_rsvp">Cancel RSVP</a><br>
  <% else %>
    <a class="button" href="/workshops/<%= @workshop.id %>/rsvp">RSVP</a><br>
  <% end %>
<!--   If they have an RSVP let them cancel it -->

  <% if user_signed_in? and current_user.admin? %>
    <br>
    <a class="button" href="/workshops/<%= @workshop.id %>/edit">Edit</a>
    <%= link_to "Delete", @workshop, method: :delete,
        data: { confirm: "Delete: You sure? Cannot undo a delete." } %>
<% end %>

</div>
<div class="boxB">
  <h2>Description</h2>
  <p><%=simple_format @workshop.context%></p>

</div>

<div class="boxC">
  <div id="map"></div>

<script>
  var map = L.map('map').setView([51.505, -0.09], 13);
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data © OpenStreetMap contributors';
  var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});           

  // start the map in South-East England
  map.setView(new L.LatLng(40.7, -73.9),10);
  map.addLayer(osm);

  L.marker([<%= @workshop.location.latitude%>, <%=@workshop.location.longitude%>]).addTo(map)
      .bindPopup('<h2><%=@workshop.location.name%></h2><%=@workshop.location.address%><br><%=@workshop.location.phone1%><br><%=@workshop.location.email%><br><br><h3>Upcoming Events</h3><%= @workshop.location.workshops_to_map.html_safe %>');
  </script>

</div>