


<div class="boxA">
  <% if @workshop.approved == false %>
    <a class="button" href="/workshops/pending/<%= @workshop.id %>">Approve</a>
  <% end %>
  <h1><%= @workshop.title %></h1>
    <p>RSVPs: <%= @workshop.rsvps.count %></p>
  
<!--   If they don't have an RSVP, give them this button -->
  <% if @rsvp.count > 0 %>
    <a class="button" href="/workshops/<%= @workshop.id %>/cancel_rsvp">Cancel RSVP</a><br>
  <% else %>
    <a class="button" href="/workshops/<%= @workshop.id %>/rsvp">RSVP</a><br>
  <% end %>
<!--   If they have an RSVP let them cancel it -->
  <p>At <a href="/locations/<%=@workshop.location.id%>"><%=@workshop.location.name%></a></p>
  <p><%=@workshop.location.address%> <%=@workshop.location.city%></p>
  <p>Date: <%=@workshop.start_time.strftime("%m/%d/%Y")%></p>
  <p><%=@workshop.start_time.strftime("%I:%M%p")%><%=@workshop.end_time.strftime(" to %I:%M%p")%></p>


  <% if user_signed_in? and current_user.admin? %>
    <br>
    <a class="button" href="/workshops/<%= @workshop.id %>/edit">Edit</a>
    <%= link_to "Delete", @workshop, method: :delete,
        data: { confirm: "Delete: You sure? Cannot undo a delete." } %>
  <% end %>
  
  <% if user_signed_in? and not current_user.admin? and current_user.id == @workshop.id %>
    <br>
    <a class="button" href="/workshops/<%= @workshop.id %>/edit">Edit</a>
    <%= link_to "Delete", @workshop, method: :delete,
        data: { confirm: "Delete: You sure? Cannot undo a delete." } %>
  <% end %>

</div>
<div class="boxB">
  <h2>Description</h2>
  <p><%=simple_format @workshop.context%></p>
<div id="share-buttons">
 
<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
 
<!-- Twitter -->
<a href="http://twitter.com/share?text=<%= request.original_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
 
<!-- Google+ -->
<!-- Google+ -->
<a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

<!-- Digg -->
<a href="http://www.digg.com/submit?url=<%= request.original_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" /></a>
 
<!-- Reddit -->
<a href="http://reddit.com/submit?url=<%= request.original_url %>&title=The HERO Initiative" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>
 
<!-- LinkedIn -->
<a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
 
<!-- Pinterest -->
<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="http://www.simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" /></a>
 
<!-- StumbleUpon-->
<a href="http://www.stumbleupon.com/submit?url=<%= request.original_url %>&title=The HERO Initiative" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" /></a>
 
<!-- Email -->
<a href="mailto:?Subject=Simple Share Buttons&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.simplesharebuttons.com"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
 
</div>
</div>

<div class="boxC">
  <div id="map"></div>

<script>
  var map = L.map('map').setView([51.505, -0.09], 13);
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data © OpenStreetMap contributors';
  var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});           

  // start the map in South-East England
  map.setView(new L.LatLng(40.7, -73.9),10);
  map.addLayer(osm);

  L.marker([<%= @workshop.location.latitude%>, <%=@workshop.location.longitude%>]).addTo(map)
      .bindPopup('<h2><%=@workshop.location.name%></h2><%=@workshop.location.address%><br><%=@workshop.location.phone1%><br><%=@workshop.location.email%><br><br><h3>Upcoming Events</h3><%= @workshop.location.workshops_to_map.html_safe %>');
  </script>

</div>