<h2>The Hero Initiative</h2>
<p>Check out our upcoming classes for this week.</p>

<% @workshops.each do |workshop| %>
  <h3><%= workshop.title %></h3>
  <p><%=@workshop.start_time.strftime("%I:%M%p")%><%=@workshop.end_time.strftime(" to %I:%M%p")%></p>
  <p>At <%=@workshop.location.name%></p>
  <p><%=@workshop.location.address%> <%=@workshop.location.city%></p>  
  <p><%= workshop.content %></p>
<% end %>